@keyframes changeColor {
    /* Ao invés de from e to, é possível usar porcentagens. Assim como mudar outras propriedades*/
    0%{ background-color: red; width: 200px;}
    50%{background-color: goldenrod; width: 400px;}
    100%{background-color: blue; width: 200px;}
}

.box{
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 6s;
}